# Dependency directory
node_modules

# Ignore built ts files
build/**/*
dist/**/*

# API keys and secrets
.env

# Build
public/css/main.css

# Skaffold binaries
skaffold

# env
secrets.yaml
.env
.dev.secrets.env
.prod.secrets.env
.docker-compose.env